---
title: English summary
---

<div id="lang">
  <a href="/" title="Czech">CS</a>
</div>

<h1>
  Proper Divine Office Chants of the Ecclesiastical Province of Prague
</h1>

<p>
  The main goal of this project is to collect chant
  tunes necessary for celebration of the Divine Office
  on feasts proper to the ecclesiastical province of Prague
  (historical territory of the kingdom of Bohemia,
  western part of today's Czech Republic)
  according to the calendar and liturgical texts in place
  right before the liturgical reform
  of the Second Vatican Council.
  As an extension of that primary goal,
  tunes should subsequently be edited also for Latin texts of the
  <a href="https://kpmk.eu/kpmkeu/index.php/liturgie/liturgicke-texty/147-texty-narodniho-propria-latinsky">post-Vatican II LOTH proper of Czech Republic</a>,
  which share a significant portion of chants with the older
  provincial proper.
</p>
<p>
  Additional information in Czech:
</p>
<ul>
  <li><a href="http://www.inadiutorium.cz/blog/20170509-latinske-zpevy-pro-vlastni-svatky-prazske-cirkevni-provincie">blog post introducing the project</a></li>
  <li><a href="https://theses.cz/id/6itpzp/?lang=en">thesis, on pp. 17-19 summarizing modern history of the provincial proper</a></li>
</ul>
<p>
  While most of the liturgical texts and chants are of little
  liturgical use beyond the borders of Bohemia, the formulary
  of St. John Nepomuk (<span lang="la">S. Ioannes Nepomucenus</span>, <span lang="de">Hl. Johannes von Nepomuk</span>)
  was indulted to many dioceses throughout Germany and elsewhere.
  Our list of discovered chant sources for the feast covers several
  independent regional traditions/authors and may be of broader
  international interest.
</p>

<h2>
  Download
</h2>

<h3>
  Practical edition
</h3>
<p>
  <a href="/files/libri/officia_propria_pragensia_1912.pdf">Prague provincial proper to the 1912 Antiphonale Romanum</a>
  (WIP, raw and very incomplete)
</p>

<h3>
  Working edition
</h3>

<p>
  <a href="/sources.html">Sources and their abbreviations</a>
</p>

<ul>
  <li><a href="/files/synopsis/adalbertus.pdf">S. Adalbertus / St. Adalbert/Vojtěch</a></li>
  <li><a href="/files/synopsis/nepomucenus.pdf">S. Ioannes Nepomucenus / St. John Nepomuk</a></li>
  <li><a href="/files/synopsis/vitus.pdf">S. Vitus</a></li>
  <li><a href="/files/synopsis/venceslaus_1865.pdf">S. Venceslaus / St. Wenceslas ("new" formulary introduced in 1865)</a></li>
</ul>

<h2>
  Source Codes
</h2>

<p>
  All project source codes are available
  <a href="https://github.com/igneus/proprium-pragense-antiphonale">on Github</a>.
</p>

<h2>
  Chants of the Czech Proper Feasts Elsewhere
</h2>

<ul>
  <li>
    <a href="http://choral.sdh.cz/?a=1&b=Ne%C5%A1pory%20-%20k%20svat%C3%BDm">Chorál v liturgii</a>
    - Vespers (Liturgia horarum, Latin)
    as they are sung in the St. Vitus cathedral, Prague
  </li>
  <li>
    <a href="http://www.inadiutorium.cz/noty">In adiutorium</a>
    - plainchant musical setting of the complete Liturgy of the Hours in Czech +
    catalogue of other available settings of the Czech texts, both printed and online
  </li>
</ul>

<h2>
  Liturgical texts online
</h2>

<p>
  (Digitalized official editions of the texts we are collecting tunes for.)
</p>

<ul>
<% data.editions.sort_by(&:year).each do |e| %>
<li>
  <a href="<%= e.uri %>"><%= e.year %> <%= e.location %></a>
</li>
<% end %>
</ul>

<h2>
  Contact
</h2>

<p>
  See the <a href="http://www.inadiutorium.cz/english#contacts">contact information at inadiutorium.cz</a>
</p>
