---
title: Officia propria ecclesiasticae provinciae pragensis cum cantu
---

<h1>
  <span>Officia propria</span> ecclesiasticae provinciae pragensis.<br>
  Cum cantu
</h1>

<p>
  Kdo hledá chorální nápěvy latinských zpěvů oficia
  (antifon, responsorií, hymnů)
  pro svátky českých zemských patronů -
  sv. Víta, Václava, Vojtěcha, Ludmily, Pěti bratří, Prokopa, Zikmunda -
  resp. vůbec pro svátky
  vlastní kalendáři pražské církevní provincie, je tu správně,
  ale poněkud brzy: přípravné práce jsou na samém začátku.
  Níže je možné prohlížet začátky pracovní srovnávací edice nalezených nápěvů,
  na základě níž budou později připraveny noty v podobě vhodné
  pro liturgický zpěv. Materiály budou průběžně doplňovány
  a aktualisovány.
</p>
<p>
  Primárním cílem je vydat nápěvy k textům vlastních svátků
  pražské církevní provincie v podobě (těsně) před liturgickou
  reformou Druhého vatikánského koncilu.
  Později je v plánu totéž udělat i pro <a href="https://kpmk.eu/kpmkeu/index.php/liturgie/liturgicke-texty/147-texty-narodniho-propria-latinsky">latinské texty
  pokoncilního společného propria českých a moravských diecésí</a>.
</p>
<p>
  Pro podrobnější představení celého záměru viz článek
  <a href="http://www.inadiutorium.cz/blog/20170509-latinske-zpevy-pro-vlastni-svatky-prazske-cirkevni-provincie">Latinské zpěvy pro vlastní svátky pražské církevní provincie</a>.
  Pro o něco úplnější přehled vývoje dotyčných liturgických textů
  v 19. a první polovině 20. stol.
  viz <a href="https://theses.cz/id/6itpzp/">Pavlík: Hodinky církevní</a>, s. 17-19.
</p>

<h2>
  Ke stažení
</h2>

<h3>
  Praktické výstupy
</h3>
<p>
  <a href="/files/libri/officia_propria_pragensia_1912.pdf">pražské proprium k Antiphonale Romanum z r. 1912</a>
  (zatím velmi neúplné, obsahující prvních pár svátků)
</p>

<h3>
  Pracovní edice nápěvů
</h3>

<p>
  <a href="/sources.html">Použité prameny a jejich zkratky</a>
</p>

<ul>
  <li><a href="/files/synopsis/adalbertus.pdf">S. Adalbertus / Sv. Vojtěch</a></li>
  <li><a href="/files/synopsis/nepomucenus.pdf">S. Ioannes Nepomucenus / Sv. Jan Nepomucký</a></li>
  <li><a href="/files/synopsis/vitus.pdf">S. Vitus / Sv. Vít</a></li>
  <li><a href="/files/synopsis/venceslaus_1865.pdf">S. Venceslaus / Sv. Václav ("nový" formulář, zavedený r. 1865)</a></li>
</ul>

<h2>
  Github
</h2>

<p>
  Zdrojové kódy všech notových materiálů jsou
  <a href="https://github.com/igneus/proprium-pragense-antiphonale">na githubu</a>,
  kde můžete z první ruky sledovat postup prací, hlásit zjištěné chyby,
  nebo třeba i přispět transkripcí některého pramene.
</p>

<h2>
  Zpěvy oficia pro "pražské svátky" jinde
</h2>

<p>
  Tomu, kdo chce zpívat např. nešpory o některém
  z dotčených svátků (nejpravděpodobněji snad o svátku sv. Václava),
  může alespoň prozatím dobře posloužit nabídka
  tematicky spřízněných webů:
</p>
<ul>
  <li>
    <a href="http://choral.sdh.cz/?a=1&b=Ne%C5%A1pory%20-%20k%20svat%C3%BDm">Chorál v liturgii</a>
    - nešpory, jak se v současnosti zpívají v katedrále sv. Víta v Praze
    (pokoncilní oficium, latinsky)
  </li>
  <li>
    <a href="http://www.inadiutorium.cz/noty">In adiutorium</a>
    - kompletní zhudebnění Denní modlitby církve
    (pokoncilní oficium, česky);
    na webu je také přehled všech dostupných zhudebnění
    částí oficia v češtině od dalších autorů
  </li>
</ul>

<h2>
  Liturgické texty online
</h2>

<p>
  (Přehled digitalisovaných oficiálních vydání těch textů, pro které zde pilně a zcela neoficiálně shromažďujeme nápěvy)
</p>

<ul>
<% data.editions.sort_by(&:year).each do |e| %>
<li>
  <a href="<%= e.uri %>"><%= e.year %> <%= e.location %></a>
</li>
<% end %>
</ul>

<h2>
  Kontakt
</h2>

<p>
  Viz <a href="http://www.inadiutorium.cz/owebu#kontakt">kontaktní informace na webu inadiutorium.cz</a>
</p>
